<!DOCTYPE html>
<html>
  <head>
    <title>OceanTracking</title>
    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all' %>
    <!-- <link href="/assets/application.css" media="screen" rel="stylesheet" /> -->
    <%#= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
